@import 'src/assets/scss/vars';

.viewBlock {
  display: flex;
  width: 80vw;
  min-width: 920px;
  height: 100% !important;
  overflow-y: auto;
  scrollbar-width: 0;
  border: $border;

  .viewItem {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    // height: max-content;
    padding: 50px 10px 10px 10px;
    border-right: 1px solid $border-200;

    &:nth-of-type(2) {
      border-right: none;
      border-left: 1px solid $border-200;
    }

    .img {
      width: 400px !important;
    }

    .itemLabel {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 10px;
      border-right: 2px solid $border-200;
      border-bottom: 2px solid $border-200;
    }

    .itemLabel2 {
      position: absolute;
      top: 0;
      left: 90px;
      z-index: 2;
      margin-top: 0 !important;
      padding: 10px;
    }

    .itemLabel3 {
      position: absolute;
      top: 0;
      left: 175px;
      z-index: 2;
      margin-top: 0 !important;
      padding: 10px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.viewBlock::-webkit-scrollbar {
  display: none;
}

.sampleWrapContainer {
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 730px;
  height: max-content;
  margin-top: 40px;
}

.df {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 730px;
  height: max-content;
  margin-top: 40px;
}

.transparency {
  color: transparent;
  background-color: transparent;
  border: none;
}
