$text: #595959;
$bg: #fafafa;
$border-100: #efefef;
$border-200: #c3cfd9;
$border-400: #808080;
$border-600: #545454;
$primary-600: #1976d2;
$secondary-200: #cab9ec;
$secondary-600: #986fee;
$danger-600: #be0b25;

$border: 2px solid $border-200;
