.modal {
  width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.center {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.wrap {
  display: flex;
  gap: 10px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom {
  display: flex;
  gap: 15px;
  justify-content: center;
}
