@import 'src/assets/scss/vars';

.errorFrame {
  position: absolute;
  border: 1px red solid;

  &:not(.active):hover {
    background-color: rgb(255 255 255 / 48%);
    cursor: pointer;
  }

  &.active {
    background-color: rgba(255, 0, 0, 0.48);
    outline: 1px red solid;
  }

  &.hovered {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px red solid;
  }
}

.errorNum {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 999;
  color: rgb(0, 13, 255);
}
